/* MOBILE FIRST*/

/* COLORES:
#463f3a (MARRON OSC)
#8a817c (MARRON CLARO)
#bcb8b1 (BEIGE OSC)
#f4f3ee (BEIGE)
#e0afa0 (SALMON)
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER*/
.header {
    background-color: #f4f3eeb6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.header ul,
.footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.header li {
    margin: 7px;
}

.header a {
    color: #463f3a;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}

.header a:hover {
    color: #e0afa0;
    font-weight: bolder;
    font-size:25px ;
}

/* FOOTER */
.footer {
    background-color: #f4f3ee;
}

/* ANIMACIONES */
.header a img:hover {
    height: 180px;
}

.footer ul li a img:hover {
    height: 120px;
}

/* TODOS LOS MAIN */
main {
    min-height: 70vh;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

/* MAIN IDEX */
.banner {
    width: 100vw;
}

/* H1 */
h1 {
    color: #463f3a;
    text-align: center;
    padding: 7px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 30px;
    font-weight: bold;
}

/* SUBTITULOS */
h2 {
    font-size: 17px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #8a817c;
    text-align: center;
    margin: 40PX;
}

/* IMAGENES INDEX */
.img-index {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-index img {
    width: 250px;
    padding: 5px;
}

/* PRESENTACION */
.quien-soy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 10px;
}

.negrita {
    font-weight: bold;
}

/* MAIN PRODUCTOS/GALERIA */
.card-container {
    background-color: #8a817c;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    width: 140px;
    height: 140px;

}

.img-card {
    width: 80px;
    padding: 5px;
}

.titulo-card {
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
}

.precio-card {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.grid-container {
    max-width: 425px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.img-galeria {
    width: 150px;
    margin: 5px;

}

.video {
    width: 100%;
}

/* MAIN COMO COMPRAR */
.pasos li {
    margin: 30px;
    list-style: disc;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;

}

.pasos li ul li {
    margin: 20px;
    list-style: circle;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-weight: bold;

}

/* MAIN CONTACTO */
h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 10px;
}

.imagen-redes {
    display: flex;
    justify-content: center;
}

input,
textarea {
    width: 90%;
    margin: 10px;
}

label {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.opcion {
    margin: 5px;
    font-size: 20px;
    font-weight: bolder;
}




/* MEDIAS QUERYS */
@media(min-width:768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header a {
        font-size: 15px;
    }

    .footer ul {
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 25px;
    }

    .img-index {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .img-index img {
        width: 380px;
        padding: 50px;
    }

    .quien-soy {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .presentacion {
        text-align: center;
        padding: 50px;
    }

    .fotoJimena {
        margin: 50px;
    }

    /* MAIN PRODUCTOS/GALERIA*/
    .card-container {
        width: 230px;
        height: 230px;
    }

    .img-card {
        width: 150px;
        padding: 5px;
    }

    .titulo-card {
        font-size: 15px;
    }

    .grid-container {
        max-width: 850px;
        grid-template-columns: repeat(3, 1fr);
    }

    .img-galeria {
        width: 230px;

    }

    /* MAIN COMO COMPRAR */
    .pasos li {
        font-size: 25px;

    }

    .pasos li ul li {
        font-size: 20px;
    }

    /*  MAIN CONTACTO */
    input,
    textarea {
        width: 95%;
    }


    h3 {
        font-size: 30px;
    }


}

@media(min-width:1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header a {
        font-size: 20px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    .img-index img {
        width: 500px;
    }

    .presentacion {
        font-size: 25px;
    }

    /* MAIN PRODUCTOS/GALERIA */
    .card-container {
        width: 300px;
        height: 300px;
    }

    .img-card {
        width: 200px;
    }

    .titulo-card {
        font-size: 20px;
    }

    .precio-card {
        font-size: 30px;
    }

    .grid-container {
        max-width: 1300px;
    }

    .img-galeria {
        width: 320px;

    }

    /*  MAIN CONTACTO */
    input,
    textarea {
        width: 98%;
    }


}